@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h3>Sample API query</h3>

        <div class="row">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <td>Query</td>
                    <td>Description</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <a href="http://localhost:51932/main/api/profile/a111222a" target="_blank">
                            /main/api/profile/a111222a
                        </a>
                    </td>
                    <td>
                        Get profile for default client with id "a111222a"
                        <br/>
                        This request will go to <b>Main</b> area, <b>ProfileController</b>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
