@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h3>Sample API query</h3>

        <div class="row">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <td>Query</td>
                    <td>Description</td>
                    <td>Area</td>
                    <td>Controller</td>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="http://localhost:51932/main/api/profile/a111222a" target="_blank">
                                /main/api/profile/a111222a
                            </a>
                        </td>
                        <td>
                            Get profile for default client with id "a111222a"
                        </td>
                        <td>
                            Main
                        </td>
                        <td>
                            ProfileController
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://localhost:51932/video/api/settings/a111222a" target="_blank">
                                /video/api/settings/a111222a
                            </a>
                        </td>
                        <td>
                            Get video module setting for client with id "a111222a"
                        </td>
                        <td>
                            Video
                        </td>
                        <td>
                            SettingsController
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
